@charset "UTF-8";

#comm_list{
	margin: 90px 0 20px 120px;
}

#comm_list ul {
	display: flex;
}

#comm_list ul li a {
	display: block;
	color: black;
	font-size: 0.9rem;
	text-align:center;
	width: 100px;
	padding: 5px 0;
}

#comm_list ul li:first-child {
	margin-right: 10px;
}

#comm_list ul li a:hover {
	background-color: #e67e22;
	color: white;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width:80%;
	margin: 10px auto;
	border-top : 1px solid black;
	border-bottom: 1px solid black;
}

th {
	background-color: #f8f8f8;
}

th, td{
	padding: 8px;
	vertical-align: top;
	white-space: nowrap;
}

td {
	font-size: 0.9rem;
}

.cen {
	text-align: center;
}

td a {
	color: black;
}

.btn_write {
	border: none;
	font-size: 0.9rem;
	text-align:center;
	width: 100px;
	padding: 5px 0;
	background-color: #7bc043;
	color: white;
	margin: 20px 0 70px 980px;
}
