@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	width: 1200px;
	display: flex;
	flex-flow: column nowrap;
	margin: 0 auto;
}

li{ list-style-type:none; }
a{ text-decoration:none; }

#head {
	

	position: relative;
}


header { width: 100%; }

header h3 a {
	display: block;
	width: 8%;
	height: 8%;
	margin: 0 340px;
	margin-top: 5px;
	
}

header h3 a img {
	width: 100%;
	height:100%;
	

}

fieldset { border: none; }
legend { display: none; }

#search {
	width: 430px;
	display: flex;
	position: absolute;
	top: 40px;
	right: 300px;
	
	
}

#find {
	font-size: 0.7rem;
	text-align: center;
	width: 90%;
	padding: 2px 0px 2px 5px;
	
	
}

#find_in {
	border: none;
	background-color: #14974b;
	color: white;
	font-size: 0.7rem;
	width: 15%;
	padding: 3px 8px 4px 8px;
	cursor: pointer;
	
	
}

#find_in:hover {
	background-color: #7bc043;
}

nav {
	background-color: #7bc043;
	width: 100%;
	margin-top: 10px;
}

nav ul { display: flex; }

nav ul a {
	text-align: center;
	font-size: 0.9rem;
	color: white;
	display: inline-block;
	padding: 9px 20px;
}

nav ul a:hover {
	background-color: #14974b;
	color: white;
	font-weight: bold;
}

nav ul li:nth-child(6) {
	margin-left: auto;
}

#banner { position: relative; }

#banner p a {
	display: block;
	width: 100%;
	height: 100%;
}

#banner p a img {
	width: 100%;
	height:100%;
}

#itchu {
	position: absolute;
	top: 25%;
	right: 15%;
	font-size: 0.9rem;
	color: #333;
}

#itchu span{
	font-size: 0.9rem;
}

#itchu strong{
	display: block;
	font-size: 1.6rem;
	padding: 13px 0;
}

.itchu_sp {
	padding: 1px 0;
}

#near {
	width: 75%;
	margin: 85px auto;
}

#near h4 {
	color: #34495e;
	font-size: 1.3rem;
	padding: 20px 0;
}

#near_list { display:flex; }

#info2, #info3 { margin-left:auto; }

.near_info a {
	display: block;
}

.near_info li {
	color: #9e9e9e;
	font-size: 0.8rem;
}

.near_info li:nth-child(2) {
	font-size: 1.1rem;
	font-weight: bold;
	color: #34495e;
	padding: 3px 0;
}

.near_info li:first-child { position: relative; }

.near_info li:first-child span {
	display: block;
	position: absolute;
	top: 17px;
	left: -65px;
	width: 48%;
	border-top: 4px solid #34495e;
	color: #34495e;
	font-size: 2rem;
	font-weight: bold;
	padding-left: 20px;
}

footer {
	background-color: #7bc043;
	position: relative;
	margin-top: 30px;
}

footer p a {
	display: block;
	width: 6%;
	height: 6%;
	margin: 35px 0;
	margin-left: 90px;
}

footer p a img {
	width: 100%;
	height: 100%;
}

#footer_nav {
	position: absolute;
	top: 35px;
	left: 200px;
	font-size: 0.8rem;
	color: #333;
}

#footer_nav ul {
	display: flex;
}

#footer_nav li a {
	display: inline-block;
	color: #333;
}

#footer_nav li:nth-child(2) {
	padding: 0 13px;
}

#footer_nav ul li a:hover {
	color: white;
}
#p_top {
	padding-top: 5px;
}

#p_bom {
	padding-bottom: 4px;
}

address {
	font-style: normal;
}













/*


* {  overflow-y: auto;}
        y축 height는 전체화면으로 보이되
        content가 가득차면 자동으로 scroll을 보여라
        height: 100%;
}

*/